.slider {
    position: relative;
}

.slider img {
    display: block;
    height: 100%;
    width: 100%;
}

.slider > .largeText {
    position: absolute;
    top: 44px;
    left: 40px;
}

.slider > .dark {
    position: absolute;
    top: 74px;
    left: 40px;
    color: #282d33;
    font-size: 1.125rem;
    line-height: .875rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.slider > .middle {
    position: absolute;
    top: 110px;
    left: 40px;
    color: #a5adb8;
    font-size: 1.125rem;
    line-height: .875rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.slider > .text {
    position: absolute;
    top: 134px;
    left: 40px;
    color: #d9dcdf;
    font-size: .875rem;
    line-height: 1.125rem;
    font-family: Arial, sans-serif;
    font-weight: normal;
    max-width: 484px;
}