@import "reset.css";
@import "header.css";
@import "slider.css";
@import "nav.css";
@import "aside.css";
@import "main.css";
@import "footer.css";
@import "adaptive.css";
@import "burger.css";

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: #e4e6e4;
}

.container {
    max-width: 984px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cf {
    content: "";
    clear: both;
    display: table;
}

.cf2 {
    clear: both;
}

.largeText {
    text-decoration: none;
    font-size: 1.875rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #a5adb8;
    line-height: 14px;
}

.fl:first-letter {
    color: #ae4b5d;
}

h2 {
    font: bold 1.5rem / .875rem Arial, sans-serif;
    color: #a5adb8;
}

code {
    background: #dedede;
    border-radius: 5px;
    font: normal 0.75rem / 1.5rem Arial, sans-serif;
}

.tac {
    text-align: center;
}